body{
	background-color: #f5f5f5;
}

ul, li {
	margin: 0px;
}

#header {
	background-image: url(../img/header_background.png);
	background-repeat: repeat-y;
	padding: 0px 22px;
	margin: -2px -24px;
}

/*logo样式*/
.logo{
	padding: 20px 0px 0px 22px;
	width: 160px;
	height: 46px;
	
}

.logo #cpn-logo {
	width: 160px;
	height: 46px;
}

/*顶部*/
.header{
	margin: 0px;
}

/*顶部菜单样式.*/
.header-bar{
	margin-top: 25px;
	margin-bottom: 25px;
}
.header-bar .btn{
	
}

/*头像样式.*/
.avatar{
	padding: 20px 0px 0px 23px;
	//width: 46px;
	//height: 46px;
}

.avatar #user-avatar {
	width: 46px;
	height: 46px;
}

#myTab {
	text-align:center;
}

#myTab .icon-chevron-right { /*箭头的样式.*/
  	float: right;
	margin-top: 2px;
  	margin-right: -6px;
  	opacity: .25;
}

.test{
	color: #ffffff;
	cursor: default;
	background-color: #0088cc;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}


/*项目管理缩略图样式.*/
.project{
	padding: 10px 10px 20px 20px;
}
.project:hover{
	border-color: #0088cc;
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.project .img-polaroid{
	padding: 2px;
	margin-top: 10px;
	border-radius: 2px 2px 2px 2px;
}
.project .info{
	margin-top: 15px;
}

#main-view {
	position: relative;
	padding-top: 2px;
}

#sidebar {
	position: relative;
	min-height: 563px;
	width: 200px;
	margin-left: -20px;
	padding: 50px 10px 0px 10px;
	background: #444E5B;
}

#breadcrumb {
	margin: 20px 0 0 0;
	border-radius: 0;
}

#content {
	background-color: #f5f5f5;
}

#content h2 {
	background-color: inherit;
}

.separator {
	height: 45px;
	background-image: url(../img/divider.png);
	background-repeat: no-repeat;
	background-position: center;
}

#project-adder {
	margin-left: 700px;
}